# Environment Files
frontend/.env.development
frontend/.env.production
backend/.env

# Frontend Build
frontend/dist/

# Node Modules
frontend/node_modules/
backend/node_modules/
node_modules/
# Logs
*.log


.prettierrc.json

package-lock.json
package.json

.gitignore